#explore-course-component .details-div {
  width: 70%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#explore-course-component .thumbnail-div img {
  width: 70%;
  height: auto;
}

#explore-course-component .small-text {
  font-size: 0.7;
  margin: 10px 0;
}

#explore-course-component .likes-text {
  font-size: 0.7;
  margin: 0;
}

#explore-course-component .medium-text {
  font-size: 1.2rem;
  margin: 0;
}

#explore-course-component a {
  color: #000;
}
